<h2>Вход</h2>

<form method="post">
    Логин: <input name="login"><br>
    Пароль: <input type="password" name="password"><br><br>

    <button type="submit">Войти</button>
    <a href="/Account/Registration">Регистрация</a>
    <a href="/Account/Guest">Войти как гость</a>

    <p style="color:red">@ViewBag.Error</p>
</form>

