@{
    ViewData["Title"] = "Регистрация";
}

<div class="container mt-5">
    <div class="col-md-4 mx-auto">
        <h2 class="text-center mb-4">Регистрация</h2>

        <form method="post">

            <div class="mb-3">
                <label class="form-label">Логин</label>
                <input class="form-control" name="login" />
            </div>

            <div class="mb-3">
                <label class="form-label">Пароль</label>
                <input class="form-control" type="password" name="password" />
            </div>

            <div class="mb-3">
                <label class="form-label">Подтвердите пароль</label>
                <input class="form-control" type="password" name="confirm" />
                @if (ViewBag.Error != null)
                {
                    <p class="text-danger">@ViewBag.Error</p>
                }
            </div>

            <button class="btn btn-primary w-100">Зарегистрироваться</button>
        </form>
    </div>
</div>

}


