<h2>Регистрация</h2>

<form method="post">
    Логин: <input name="login"><br>
    Пароль: <input type="password" name="password"><br>
    Подтвердите пароль: <input type="password" name="confirm"><br><br>

    <button type="submit">Зарегистрироваться</button>
</form>

<p style="color:red">@ViewBag.Error</p>

